{% extends 'base.html.twig' %}

{% block title %}TempoCraft - Connexion{% endblock %}

{% block stylesheets %} 
    <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-4.5.0.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="/assets/security/css/util.css">
		<link rel="stylesheet" type="text/css" href="/assets/security/css/main.css">
	<!--===============================================================================================-->
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-51">
						Login
					</span>

					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
    					<input class="input100" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Mot de passe" id="inputPassword" class="form-control" required>
						<span class="focus-input100"></span>
					</div>
					<i>
						Vous avez oublié votre mot de passe ?<br>
						<small>Rejoignez nous sur <a href="https://discord.gg/ZWEBAHtkgN">Discord</a> et contactez un membre du staff</small>
					</i>
					
					{#<div class="flex-sb-m w-full p-t-3 p-b-24">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot?
							</a>
						</div>
					</div>#}

					<input type="hidden" name="_csrf_token"
						value="{{ csrf_token('authenticate') }}"
					>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" type="submit">
							Se connecter
						</button>
					</div>
					{#
						Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
						See https://symfony.com/doc/current/security/remember_me.html

						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" name="_remember_me"> Remember me
							</label>
						</div>
					#}
				</form>
			</div>
		</div>
	</div>
{% endblock %}