{% extends 'base.html.twig' %}

{% block title %}TempoCraft - Inscription{% endblock %}

{% block stylesheets %} 
    <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-4.5.0.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="/assets/security/css/util.css">
		<link rel="stylesheet" type="text/css" href="/assets/security/css/main.css">
	<!--===============================================================================================-->
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
<form method="post">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w">

                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
					{% if error is not null %}
						<div class="alert alert-danger" role="alert">{{ error }}</div>
					{% endif %}

                	{{ form_start(registrationForm) }}
					<span class="login100-form-title p-b-51">
						Inscription
		            </span>

					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
                        {{ form_row(registrationForm.email) }}
					</div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
                        {{ form_row(registrationForm.pseudo) }}
					</div>
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
					</div>

                    {{ form_row(registrationForm.agreeTerms) }}

					<div class="text-center"><b>Même si TempoCraft cryptera votre mot de passe nous vous conseillons par bienveillance de ne pas mettre le même que celui de votre compte Dofus et de même sur tout autre site tier</b></div>
                    <div class="container-login100-form-btn m-t-17">
                        <button type="submit" class="login100-form-btn">S'inscrire</button>
                    </div>
                    {{ form_end(registrationForm) }}
					{#<div class="flex-sb-m w-full p-t-3 p-b-24">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot?
							</a>
						</div>
					</div>#}

					{#
						Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
						See https://symfony.com/doc/current/security/remember_me.html

						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" name="_remember_me"> Remember me
							</label>
						</div>
					#}
				</form>
			</div>
		</div>
	</div>
{% endblock %}